<h1>Ping Pong Tracker - Pong Fork 2</h1>

<h2>Project Codename: Pine</h2>

<p>The ping pong tracker will be used within the AlertSense office to help keep track of ping pong games, their players, and their scores. This information will be used to rank employees by their ping pong abilities and help provide suggestions for even matched games. Leaderboards will help to encourage a healthy and competitive rivalry among employees while providing great teambuilding opportunities.</p>

<h2>Basic use cases</h2>

<ul>
<li>Employees will create a player profile.</li>
<li>Games will be started by selecting from a list of players and choosing to start a new game.</li>
<li>A list of every game played will be displayed by the most recent game first. The finish time of the game or a status of "incomplete" will be listed for each game to help players identify which games haven't been finished from the list.</li>
<li>Games can be completed once the scores have been entered for each player associated with the game.</li>
<li>Players should be able to view a list of all the games they have played.</li>
</ul>

<h2>Project Structure</h2>

<h3>AlertSense.Pine</h3>

<p>This root namespace level class library stores the "data contracts" that the rest of the projects utilize.</p>

<ul>
<li>Data
<ul>
<li>Interfaces for the data repositories are located here </li>
</ul></li>
<li>Entities
<ul>
<li>These POCO classes are used by the repositories for passing data around. In EntityFramework these would be your code first data models.</li>
</ul></li>
<li>Models
<ul>
<li>These are your view model and aggregate model mapping objects. Typically these objects are the return type of api request methods.</li>
</ul></li>
<li>Requests
<ul>
<li>These are API request objects that can be used for MVC or down the road for a REST web api. </li>
</ul></li>
<li>Services
<ul>
<li>The interfaces that define the methods that MVC or a single page app would call to interact with the business logic and data persistance.</li>
</ul></li>
</ul>

<h3>AlertSense.Pine.Data.Memory</h3>

<p>This class library is a step above a mocked database. It uses dictionaries to store data in memory. There is a BaseRepositoryImpelmentation that the specific repositories use for basic crud operation and storage. This is provided to allow basic data persistance for rapid prototyping and test creation.</p>

<h3>AlertSense.Pine.Services</h3>

<p>This class library provides the core business logic of the application. Here we implement IGamePlayerServices by utilitizing our various repository interfaces for data persistance. The repository interfaces are public properties allowing us to utilize dependency injection for obtaining our implementations.</p>

<h3>AlertSense.Pine.Website</h3>

<p>This website is an ASP.NET MVC5 project that uses the default project MVC project template. Twitter Bootstrap CSS is used for basic styling and gives the application a polished look and feel.</p>

<p>The interface implementations from AlertSense.Pine.Data and AlertSense.Pine.Services are registered in the Application start in Global.asax. Dependency injection is used to allow us to easily swap between memory and SQL implementations.</p>

<p>The controller methods do not contain any business logic and only exist to provide data mapping, validation, and API method calls. The purpose of this design is to keep the business logic separate from the Website implementation allowing us to use ASP.NET MVC or drive a Single Page javascript app with a REST web api.</p>

<h2>Tests</h2>

<h4>AlertSense.Pine.Data.Tests</h4>

<p>These tests verify functionality of the Data repository interfaces defined in AlertSens.Pine \Data. These tests are created to verify proper data persistance.</p>

<h3>AlertSense.Pine.Services.Tests</h3>

<p>These tests verify functionality of the api interfaces defined in AlertSens.Pine \Services. These tests are created to verify business logic functionality.</p>

<h1>TODO</h1>

<h3>A. Design Complete Game Screen</h3>

<p>An existing controller method on GamesController.cs needs a corresponding view created.</p>

<p>The view is populated by:</p>

<p><a href="/src/AlertSense.Pine/Models/CompletedGameModel.cs">AlertSense.Pine.Models.CompletedGameModel</a></p>

<p>The [HttpPost] method accepts:</p>

<p><a href="/src/AlertSense.Pine/Requests/CompletedGameRequest.cs">AlertSense.Pine.Requests.CompletedGameRequest</a></p>

<h3>B. Update Games list page</h3>

<p>The current <a href="/src/AlertSense.Pine.Website/Views/Games/Index.cshtml">Index.cshtml</a> page that displays game history does not show the players scores. </p>

<p>Modify the .cshtml file to display the scores along with the players names like the image below.</p>

<p><img src="http://i.imgur.com/UKaBv0j.png" alt="" /></p>

<h3>C. Expand Unit Test Coverage</h3>

<p>In <a href="/tests/AlertSense.Pine.Services.Tests/GamePlayerServiceTest.cs">AlertSense.Pine.Services.Tests.IGamePlayerServiceTest</a>, there are two unit tests that currently throw NotImplementedExceptions in:</p>

<pre><code>[Test]
public void GetGame()
{
    throw new NotImplementedException();
}

[Test]
public void GetAllGames()
{
    throw new NotImplementedException();
}
</code></pre>

<h3>D. Refactor API Methods</h3>

<p>In the implementation of IGamePlayerService, <a href="/src/AlertSense.Pine.Services/Api.cs">AlertSense.Pine.Services.Api.cs</a>, there are two methods that have similar code.</p>

<pre><code>public CompletedGameModel GetGame(int id) // line 56

public List&lt;CompletedGameModel&gt; GetAllGames() // line 78
</code></pre>

<p>These two methods smell like they violate <a href="http://en.wikipedia.org/wiki/Don't_repeat_yourself">DRY</a> principles. Refactor the two methods to share their duplicated functionality.</p>
