﻿@model IEnumerable<AlertSense.Pine.Models.PlayerModel>

@{
    ViewBag.Title = "View";
}

<h2>Players</h2>

<p>
    @Html.ActionLink("Add New Player", "Create")
</p>
<table class="table">
    <tr>
        <th>Name</th>
        <th>Email Address</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(string.Format("{0} {1}", item.FirstName, item.LastName), "Edit", new { id = item.Id })
            <td>
                @item.EmailAddress
            </td>
        </tr>
    }

</table>
