﻿@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-4">
        <h2>Start New Game</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p>
            @Html.ActionLink("Start New Game", "Create", "Games", null, new { @class = "btn btn-default"})

        </p>
    </div>
    <div class="col-md-4">
        <h2>Add New Player</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p>@Html.ActionLink("Add New Player", "Create", "Players", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>View Standings</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p>@Html.ActionLink("View Standings", "Index", "Games", null, new { @class = "btn btn-default" })</p>
    </div>
</div>