﻿@model AlertSense.Pine.Models.CompletedGameModel

@{
    ViewBag.Title = "Details";
}

<h2>Game Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>
    </dl>

    <table class="table">
        <tr>
            <th>Name</th>
            <th>Score</th>
        </tr>
        @{
            int index = 0;
            foreach (var player in Model.PlayersScores)
            {
                <tr>
                    <td>@string.Format("{0} {1}", player.FirstName, player.LastName)</td>
                    <td>
                        @player.Score.ToString()
                    </td>
                </tr>
            }
        }
    </table>
</div>
<p>
    @Html.ActionLink("View Game History", "Index")
</p>
