﻿@model IEnumerable<AlertSense.Pine.Models.CompletedGameModel>

@{
    ViewBag.Title = "View";
}

<h2>Games</h2>

<p>
    @Html.ActionLink("Start New Game", "Create")
</p>
<table class="table">
    <tr>
        <th>Start Time</th>
        <th>Completed Time</th>
        <th>Players</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.StartTime.ToString(), (item.CompletedTime == DateTime.MinValue ? "Edit" : "Details"), "Games", new { id = item.Id }, null)
            </td>
            <td>
                @(item.CompletedTime == DateTime.MinValue ? "Incomplete" : item.CompletedTime.ToString())
            </td>
            <td>
                <ul>
                    @foreach (var playerScore in item.PlayersScores)
                    {
                        <li>@Html.ActionLink(string.Format("{0} {1}", playerScore.FirstName, playerScore.LastName), "Edit", "Players", new { id = item.Id }, null)</li>
                    }
                </ul>

            </td>
        </tr>
    }

</table>
